<div class="playerTimeDisplay">
<h1 id="player1" class="time"></h1><br>
<h1 id="player2" class="time"></h1><br><br>
</div>

  <div id="hidden_redirect" class="hidden alert alert-success">
    <%= link_to "The game is over! Record who won", new_challenge_path %>
  </div>