<div class="body">
Player 1: <h1 id="player1time" class="time" data-count="10"></h1><br><br>
Player 2: <h1 id="player2time" class="time" data-count="10"></h1><br><br>

  <div id="hidden_redirect" class="hidden">
    <%= link_to "Who won?", new_challenge_path %>
  </div>
 
</div>